.pmarkdown {
  white-space: normal;
  font-family: Droid Sans, Arial, sans-serif;
  line-height: 1.3;
  max-width: 64em;
  margin: 1em 2em;
  font-size: 16px; }

/* Taken from docs.css at http://codemirror.net */
.pmarkdown h1 {
  font-size: 3.23em;
  font-weight: bold;
  margin: 0; }
.pmarkdown h2 {
  font-size: 1.6em;
  font-weight: bold;
  margin: .5em 0; }
.pmarkdown h3 {
  font-size: 1.23em;
  font-weight: bold;
  margin: .5em 0; }
.pmarkdown h4 {
  font-size: 0.8em;
  font-weight: bold;
  margin: .4em 0; }
.pmarkdown h5 {
  font-size: 0.6em;
  font-weight: bold;
  margin: .4em 0; }
.pmarkdown h6 {
  font-size: 0.6em;
  font-weight: bold;
  margin: .4em 0; }
.pmarkdown pre {
  background-color: #eee;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 1em;
  white-space: pre-wrap;
  word-wrap: break-word; }
.pmarkdown pre.code {
  margin: 0 1em; }
.pmarkdown .grey {
  font-size: 2.2em;
  padding: .5em 1em;
  line-height: 1.2em;
  margin-top: .5em;
  position: relative; }
.pmarkdown ul, .pmarkdown ol, .pmarkdown dl, .pmarkdown blockquote {
  margin: 0;
  padding-left: 1.2em; }
.pmarkdown a.download {
  color: white;
  background-color: #df0019;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.23em;
  font-weight: bold;
  text-decoration: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: .5em 0;
  margin-bottom: 1em; }
.pmarkdown a.download:hover {
  background-color: #bb0010; }
.pmarkdown .rel {
  margin-bottom: 0; }
.pmarkdown .rel-note {
  color: #777;
  font-size: .9em;
  margin-top: .1em; }
.pmarkdown .blk {
  float: left; }
.pmarkdown .left {
  width: 37em;
  padding-right: 6.53em;
  padding-bottom: 1em; }
.pmarkdown .left1 {
  width: 15.24em;
  padding-right: 6.45em; }
.pmarkdown .left2 {
  width: 15.24em; }
.pmarkdown .right {
  width: 20.68em; }
.pmarkdown .leftbig {
  width: 42.44em;
  padding-right: 6.53em; }
.pmarkdown .rightsmall {
  width: 15.24em; }
.pmarkdown .clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }
